$primary-black: #323232;
$primary-blue: #0095FF;
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;
$secondary-darkBlack: #000000;
$secondary-darkBlue: #0065AD;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #FAFAFA;