@import '../../styles/partials/mixins';
@import '../../styles/partials/typograhpy';
@import '../../styles/partials/variables';
.video{  
    &__video{
        width: 100%;
        height: auto;
        z-index: 1;

    }
    @include tablet {
    &__first-div{
        background-color: black;
        padding: 0rem 2.5rem;
    }
    }
    @include desktop{
        &__first-div{
            padding: 0rem 13rem;
        }
    }
}
