@import '../../styles/partials/mixins';
@import '../../styles/partials/typograhpy';
@import '../../styles/partials/variables';

.video-desc{
    padding: 0rem 1rem;
    &__h1{
        font-size: 1.5rem;
        font-family: 'Avenir Next Bold';
        color: $primary-black;
        border-bottom: 1px solid $secondary-mercury;
        padding-bottom: 1rem;
        line-height: 2.4rem;
    }
    &__channel{
        font-family: 'Avenir Next demi';
        font-size: 0.83rem;
        &-div{
        display: flex;
        flex-direction: column;
        }
    }
    & p {
        margin: 0;
        padding: 0.6rem 0rem;   
    }
    &
    &__views-div{
        display: flex;
        align-items: center;
        gap: 2rem;
        border-bottom: 1px solid $secondary-mercury;
        padding-bottom: 1rem
    } 
    &__view,
    &__timestamp{
        font-size: 0.8rem;
        color: $primary-silver;
    }
    &__views,
    &__likes{
       display: flex;
       gap: 1rem;
    }
    &__description{
        font-size: 0.8rem;
        line-height: 1.2rem;
    } 
}
.video-desc{
    @include tablet {
        padding: 0.5rem 2.5rem;
        &__h1--tab{
            border-bottom: none;
            margin-bottom: 0rem;
            font-size: 1.95rem;
        }
        &__channel-div--tab{
            display: flex;
            flex-direction: row;
            gap: 1.5rem
        }
        &__views-div{
            display: flex;
            justify-content: space-between;  
        }
        &__view-div{
            display: flex;
            gap: 1.5rem
        }
        &__description{
            font-size: 0.9rem;
            line-height: 1.35rem;
        }
        &__channel{
            font-size: 0.9rem;
        }
    }
    @include desktop{
        padding-right: 0rem;
        &__views-div{
            padding-right:1.5rem;
        }
        &__descr-div{
            padding-right: 1.5rem;
        }
        &__description{
            font-size: 0.85rem;
        }
        &__views,
        &__likes{
            display: flex;
            align-items: center;
        }
       
        
    }
}